In [1]:
# Import libraries
import py_entitymatching as em
import pandas as pd
import py_stringmatching as sm
import os, sys

# Matching two tables typically consists of the following three steps:
** 1. Reading the input tables **

** 2. Blocking the input tables to get a candidate set **

** 3. Matching the tuple pairs in the candidate set **

# 1. Loading the input tables

We begin by loading the input tables. For the purpose of this guide, we use the datasets that are included with the package.

In [2]:
#dblp_dataset_path = os.sep.join(['DBLP_ACM', 'DBLP_cleaned.csv'])
#acm_dataset_path = os.sep.join(['DBLP_ACM', 'ACM_cleaned.csv'])

datasets_dir = os.getcwd() + os.sep + 'data\\csv\\Abt-Buy'

abt_dataset_path = datasets_dir + os.sep + 'abtProfiles.csv'
buy_dataset_path = datasets_dir + os.sep + 'buyProfiles.csv'

In [3]:
# Load csv files as dataframes and set the key attribute in the dataframe
A = em.read_csv_metadata(abt_dataset_path, encoding = "ISO-8859-1", key='id')
B = em.read_csv_metadata(buy_dataset_path, key='id')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [4]:
print('Number of tuples in A: ' + str(len(A)))
print('Number of tuples in B: ' + str(len(B)))
print('Number of tuples in A X B (i.e the cartesian product): ' + str(len(A)*len(B)))

Number of tuples in A: 1076
Number of tuples in B: 1076
Number of tuples in A X B (i.e the cartesian product): 1157776

In [5]:
# Display the keys of the input tables
em.get_key(A), em.get_key(B)

('id', 'id')

In [6]:
# If the tables are large we can downsample the tables like this
# A1, B1 = em.down_sample(A, B, 200, 1, show_progress=False)
# len(A1), len(B1)

# 2. Blocking to create candidate tuple pairs
Before we do the matching, we would like to remove the obviously non-matching tuple pairs from the input tables. This would reduce the number of tuple pairs considered for matching.

Magellan provides four different blockers: (1) attribute equivalence, (2) overlap, (3) rule-based, and (4) black-box. Refer to [api reference] for more details. The user can mix and match these blockers to form a blocking sequence applied to input tables.

In [7]:
ob = em.OverlapBlocker()
OB = ob.block_tables(A, B, 'description', 'description', l_output_attrs=['description', 'name', 'price'],
                   r_output_attrs=['description', 'name', 'price'])

C:\Users\DELL\anaconda3\lib\site-packages\py_stringsimjoin\utils\generic_helper.py:76: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  projected_dataframe = dataframe[proj_attrs].dropna(0,
C:\Users\DELL\anaconda3\lib\site-packages\py_stringsimjoin\utils\generic_helper.py:76: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  projected_dataframe = dataframe[proj_attrs].dropna(0,
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

In [8]:
OB

,_id,ltable_id,rtable_id,ltable_description,ltable_name,ltable_price,rtable_description,rtable_name,rtable_price
0,0,100,0,NetGear ProSafe 24 Port Smart Switch - FS726TP/ Two Gigabit Ports Plus Easy Browser/ ProSafe Net...,NetGear ProSafe 24 Port Smart Switch - FS726TP,605.0,Linksys EtherFast 8-Port 10/100 Switch (New/Workgroup),Linksys EtherFast EZXS88W Ethernet Switch - EZXS88W,NaN
1,1,106,0,Netgear ProSafe 16 Port 10/100 Desktop Switch - FS116P/ 16 Auto Speed-Sensing 10/100 RJ-45 Ports...,Netgear ProSafe 16 Port 10/100 Desktop Switch - Purple Finish - FS116P,299.0,Linksys EtherFast 8-Port 10/100 Switch (New/Workgroup),Linksys EtherFast EZXS88W Ethernet Switch - EZXS88W,NaN
2,2,134,0,Linksys EtherFast 4124 24-Port Ethernet Switch - EF4124/ 24 Autosensing 10/100 Full Duplex Auto ...,Linksys EtherFast 4124 24-Port Ethernet Switch - EF4124,119.0,Linksys EtherFast 8-Port 10/100 Switch (New/Workgroup),Linksys EtherFast EZXS88W Ethernet Switch - EZXS88W,NaN
3,3,148,0,Nikon 55-200MM Zoom-Nikkor Lens Accessory - 2156/ 3.6X Zoom/ 55 - 200MM/ Silent Wave Motor/ Two ...,Nikon 55-200MM Zoom-Nikkor Lens Accessory - 2156,199.0,Linksys EtherFast 8-Port 10/100 Switch (New/Workgroup),Linksys EtherFast EZXS88W Ethernet Switch - EZXS88W,NaN
4,4,160,0,Netgear Prosafe 16 Port 10/100 Rackmount Switch - JFS516NA/ Sixteen Switched Ports Provide Priva...,Netgear Prosafe 16 Port 10/100 Rackmount Switch - Black Finish - JFS516NA,131.0,Linksys EtherFast 8-Port 10/100 Switch (New/Workgroup),Linksys EtherFast EZXS88W Ethernet Switch - EZXS88W,NaN
...,...,...,...,...,...,...,...,...,...
202326,202326,1069,1071,Garmin Nuvi 885T GPS Navigation System - 0100057730/ Speak Commands/ 4.3' Display/ Turn-By-Turn ...,Garmin Nuvi 885T GPS Navigation System - 0100057730,799.0,Intel Centrino 2 Core 2 Duo P8600 2.4GHz - 16.4' - 4GB DDR2 SDRAM - 320GB HDD - BD-Reader/DVD-Wr...,Sony VAIO FW378J/B Notebook - VGNFW378J/B,NaN
202327,202327,1070,1071,OmniMount 37' - 63' Ultra Low Profile Series Large Flat Panel TV Black Mount - ULPTLBK/ Ultra Lo...,OmniMount 37' - 63' Ultra Low Profile Series Large Flat Panel TV Black Mount - ULPTLBK,NaN,Intel Centrino 2 Core 2 Duo P8600 2.4GHz - 16.4' - 4GB DDR2 SDRAM - 320GB HDD - BD-Reader/DVD-Wr...,Sony VAIO FW378J/B Notebook - VGNFW378J/B,NaN
202328,202328,1071,1071,Logitech Cordless Desktop Wave Keyboard And Mouse Combo - 920000264/ Contoured Wave-Shaped Key D...,Logitech Cordless Desktop Wave Keyboard And Mouse Combo - 920000264,79.0,Intel Centrino 2 Core 2 Duo P8600 2.4GHz - 16.4' - 4GB DDR2 SDRAM - 320GB HDD - BD-Reader/DVD-Wr...,Sony VAIO FW378J/B Notebook - VGNFW378J/B,NaN
202329,202329,1072,1071,Mitsubishi DLP Black TV Stand - MBS73V/ Matching Base For Mitsubishi WD-73735 And WD-73736 DLP H...,Mitsubishi DLP Black TV Stand - MBS73V,549.0,Intel Centrino 2 Core 2 Duo P8600 2.4GHz - 16.4' - 4GB DDR2 SDRAM - 320GB HDD - BD-Reader/DVD-Wr...,Sony VAIO FW378J/B Notebook - VGNFW378J/B,NaN
202330,202330,1073,1071,Logitech Digital Precision PC Gaming Headset - 981000040/ Cushioned Open-Air Design/ USB And Ana...,Logitech Digital Precision PC Gaming Headset - 981000040,49.0,Intel Centrino 2 Core 2 Duo P8600 2.4GHz - 16.4' - 4GB DDR2 SDRAM - 320GB HDD - BD-Reader/DVD-Wr...,Sony VAIO FW378J/B Notebook - VGNFW378J/B,NaN

## Attribute Equivalence Blocker

In [9]:
# Create attribute equivalence blocker on Price 
ab = em.AttrEquivalenceBlocker()
# Block tables using 'year' attribute: same year then include in the canidate set
AE = ab.block_tables(A, B, 'price', 'price', 
                   l_output_attrs=['description', 'name', 'price'],
                   r_output_attrs=['description', 'name', 'price']
                   )

In [10]:
AE

,_id,ltable_id,rtable_id,ltable_description,ltable_name,ltable_price,rtable_description,rtable_name,rtable_price
0,0,1,674,Bose Acoustimass 5 Series III Speaker System - AM53BK/ 2 Dual Cube Speakers With Two 2-1/2' Wide...,Bose Acoustimass 5 Series III Speaker System - AM53BK,399.0,Samsung LN22A451 - 22' Widescreen LCD HDTV - 3000:1 Dynamic Contrast Ratio - 8ms Response Time -...,Samsung 4 Series LN22A451 22' LCD TV,399.0
1,1,281,674,Tech Craft Dark Cherry Veneto Series TV Stand - SWP60/ 60' Wide Credenza For Flat Panel TV?s And...,Tech Craft Dark Cherry Veneto Series TV Stand - SWP60,399.0,Samsung LN22A451 - 22' Widescreen LCD HDTV - 3000:1 Dynamic Contrast Ratio - 8ms Response Time -...,Samsung 4 Series LN22A451 22' LCD TV,399.0
2,2,337,674,Tech Craft Veneto Series Black TV Stand - ABS60BK/ Supports Up To A 60' Flat Panel TV/ Molded To...,Tech Craft Veneto Series Black TV Stand - ABS60BK,399.0,Samsung LN22A451 - 22' Widescreen LCD HDTV - 3000:1 Dynamic Contrast Ratio - 8ms Response Time -...,Samsung 4 Series LN22A451 22' LCD TV,399.0
3,3,373,674,Microsoft Office Standard 2007 - 02107746/ Create Documents Faster More Easily And More Intuitiv...,Microsoft Office Standard 2007 - 02107746,399.0,Samsung LN22A451 - 22' Widescreen LCD HDTV - 3000:1 Dynamic Contrast Ratio - 8ms Response Time -...,Samsung 4 Series LN22A451 22' LCD TV,399.0
4,4,472,674,Yamaha 5.1 Channel Home Theater In A Box System In Black - YHT390BK/ New Scene Compressed Music ...,Yamaha 5.1 Channel Home Theater In A Box System In Black - YHT390BK,399.0,Samsung LN22A451 - 22' Widescreen LCD HDTV - 3000:1 Dynamic Contrast Ratio - 8ms Response Time -...,Samsung 4 Series LN22A451 22' LCD TV,399.0
...,...,...,...,...,...,...,...,...,...
337,337,1040,778,Logitech Cordless Desktop MX 5500 Revolution Keyboard And Mouse Combination - 920000383/ Cordles...,Logitech Cordless Desktop MX 5500 Revolution Keyboard And Mouse Combination - 920000383,169.0,10.1 Megapixel - 16:9 - 2x Digital Zoom - 2.7' Active Matrix TFT Color LCD,Sony Cyber-shot DSC-W170 Digital Camera - Red - DSCW170R,169.0
338,338,1072,104,Mitsubishi DLP Black TV Stand - MBS73V/ Matching Base For Mitsubishi WD-73735 And WD-73736 DLP H...,Mitsubishi DLP Black TV Stand - MBS73V,549.0,f/4 to 5.6,Canon EF 70-300mm f/4-5.6 IS USM Telephoto Zoom Lens - 0345B002,549.0
339,339,1072,310,Mitsubishi DLP Black TV Stand - MBS73V/ Matching Base For Mitsubishi WD-73735 And WD-73736 DLP H...,Mitsubishi DLP Black TV Stand - MBS73V,549.0,NaN,PLD4555RFC Professional SpeedClean 24-in. Under Counter Dishwasher (14 Place Settings Stainless ...,549.0
340,340,1072,567,Mitsubishi DLP Black TV Stand - MBS73V/ Matching Base For Mitsubishi WD-73735 And WD-73736 DLP H...,Mitsubishi DLP Black TV Stand - MBS73V,549.0,16:9 - 2.7' Hybrid LCD,Sony Handycam HDR-SR10 High Definition Digital Camcorder - HDRSR10,549.0
341,341,1072,668,Mitsubishi DLP Black TV Stand - MBS73V/ Matching Base For Mitsubishi WD-73735 And WD-73736 DLP H...,Mitsubishi DLP Black TV Stand - MBS73V,549.0,Samsung LN26A450 - 26' Widescreen 720p LCD HDTV - 5000:1 Dynamic Contrast Ratio - 8ms Response T...,Samsung 4 Series LN26A450 26' LCD TV,549.0

## Rule-base Blocker

In [11]:
block_f = em.get_features_for_blocking(A, B, validate_inferred_attr_types=False)
block_t = em.get_tokenizers_for_blocking()
block_s = em.get_sim_funs_for_blocking()

In [12]:
r = em.get_feature_fn('monge_elkan(alphanumeric(ltuple["name"]), alphanumeric(rtuple["name"]))', block_t, block_s)
em.add_feature(block_f, 'name_name_mel_alphanumeric_alphanumeric', r)

True

In [13]:
block_f

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,id_id_exm,id,id,None,None,exact_match,<function id_id_exm at 0x0000020CE62EEE50>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
1,id_id_anm,id,id,None,None,abs_norm,<function id_id_anm at 0x0000020CE6305310>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
2,id_id_lev_dist,id,id,None,None,lev_dist,<function id_id_lev_dist at 0x0000020CE6305160>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
3,id_id_lev_sim,id,id,None,None,lev_sim,<function id_id_lev_sim at 0x0000020CE63050D0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
4,description_description_jac_qgm_3_qgm_3,description,description,qgm_3,qgm_3,jaccard,<function description_description_jac_qgm_3_qgm_3 at 0x0000020CE6305820>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
5,description_description_cos_dlm_dc0_dlm_dc0,description,description,dlm_dc0,dlm_dc0,cosine,<function description_description_cos_dlm_dc0_dlm_dc0 at 0x0000020CE6305670>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
6,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x0000020CE63058B0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
7,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x0000020CE6305B80>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
8,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x0000020CE63051F0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
9,name_name_lev_dist,name,name,None,None,lev_dist,<function name_name_lev_dist at 0x0000020CE6305430>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
10,name_name_lev_sim,name,name,None,None,lev_sim,<function name_name_lev_sim at 0x0000020CE63053A0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
11,entityUrl_entityUrl_exm,entityUrl,entityUrl,None,None,exact_match,<function entityUrl_entityUrl_exm at 0x0000020CE63059D0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
12,entityUrl_entityUrl_anm,entityUrl,entityUrl,None,None,abs_norm,<function entityUrl_entityUrl_anm at 0x0000020CE6305A60>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
13,entityUrl_entityUrl_lev_dist,entityUrl,entityUrl,None,None,lev_dist,<function entityUrl_entityUrl_lev_dist at 0x0000020CE6305AF0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
14,entityUrl_entityUrl_lev_sim,entityUrl,entityUrl,None,None,lev_sim,<function entityUrl_entityUrl_lev_sim at 0x0000020CE6305C10>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
15,price_price_exm,price,price,None,None,exact_match,<function price_price_exm at 0x0000020CE6305CA0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
16,price_price_anm,price,price,None,None,abs_norm,<function price_price_anm at 0x0000020CE6305D30>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
17,price_price_lev_dist,price,price,None,None,lev_dist,<function price_price_lev_dist at 0x0000020CE6305DC0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
18,price_price_lev_sim,price,price,None,None,lev_sim,<function price_price_lev_sim at 0x0000020CE6305E50>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
19,name_name_mel_alphanumeric_alphanumeric,name,name,alphanumeric,alphanumeric,monge_elkan,<function fn at 0x0000020CE67D04C0>,"def fn(ltuple, rtuple):\n return monge_elkan(alphanumeric(ltuple[""name""]), alphanumeric(rtupl...",False

In [14]:
em._block_c['corres']

[('id', 'id'),
 ('description', 'description'),
 ('name', 'name'),
 ('entityUrl', 'entityUrl'),
 ('price', 'price')]

In [124]:
# rb1 = em.RuleBasedBlocker()
# Add rule : block tuples if name_name_lev(ltuple, rtuple) < 0.4
# rb.add_rule(['name_name_cos_dlm_dc0_dlm_dc0(ltuple, rtuple) < 0.3'], block_f)
# rb1.add_rule(['name_name_mel(ltuple, rtuple) < 0.7'], block_f)

In [125]:
# R1 = rb1.block_tables(A, B, l_output_attrs=['name'], r_output_attrs=['name'], show_progress=True)

In [126]:
# R1

In [163]:
rb2 = em.RuleBasedBlocker()
rb2.add_rule(['name_name_mel_alphanumeric_alphanumeric(ltuple, rtuple) < 0.4'], block_f)

'_rule_0'

In [ ]:
R2 = rb2.block_tables(A, B, l_output_attrs=['name'], r_output_attrs=['name'], show_progress=True)

0% [#                             ] 100% | ETA: 00:42:03

In [129]:
# R2.loc[(R2['ltable_id'] == 952 ) & (R2['rtable_id'] == 943)] #636 --- 692
R2

,_id,ltable_id,rtable_id,ltable_name,rtable_name
0,0,0,23,Sony Turntable - PSLX350H,Sony High Definition Mini DV Cassette - DSL-190-B
1,1,0,53,Sony Turntable - PSLX350H,Sony PS-LX350H Belt-Drive Turntable
2,2,0,55,Sony Turntable - PSLX350H,Sanus Television Turntable - TV/LCDS
3,3,0,58,Sony Turntable - PSLX350H,Sony CDP-CX355 300 Disc MegaStorage CD Changer
4,4,0,62,Sony Turntable - PSLX350H,Sony CDX-565MXRF 10-Disc CD/MP3 Changer
...,...,...,...,...,...
18400,18400,1075,322,Linksys Wireless-G Range Expander - WRE54G,Weber Genesis Series E-310 3841001 60' Freestanding Gas Grill with 637 sq. in. Cooking Surface &...
18401,18401,1075,351,Linksys Wireless-G Range Expander - WRE54G,Nikon 18-200mm 3.5-5.6 G ED DX AFS VR Zoom Wide Angle Nikkor Lens - Niko_215930348
18402,18402,1075,472,Linksys Wireless-G Range Expander - WRE54G,Linksys Wireless-G Internet Video Camera - WVC54GCA
18403,18403,1075,473,Linksys Wireless-G Range Expander - WRE54G,Linksys WGA600N Wireless Gaming Adapter
18404,18404,1075,1017,Linksys Wireless-G Range Expander - WRE54G,Sony VAIO CS Series VGN-CS180J/R 14.1-Inch Notebook 2.26 GHz Intel Core 2 Duo P8400 Processor 4 ...

# Combine Block

In [130]:
G = em.combine_blocker_outputs_via_union([AE, R2, OB])

In [131]:
G

,_id,ltable_id,rtable_id,ltable_description,ltable_name,ltable_price,rtable_description,rtable_name,rtable_price
0,0,0,21,Sony Turntable - PSLX350H/ Belt Drive System/ 33-1/3 and 45 RPM Speeds/ Servo Speed Control/ Sup...,Sony Turntable - PSLX350H,NaN,Panasonic Toner Cartridge for the KX-FL511 KX-FL541 KX-FL611 and KX-FLM651 Series,Panasonic Black Toner Cartridge - KX-FA83,NaN
1,1,0,23,Sony Turntable - PSLX350H/ Belt Drive System/ 33-1/3 and 45 RPM Speeds/ Servo Speed Control/ Sup...,Sony Turntable - PSLX350H,NaN,Sony DVM-63 HD High-Definition miniDV Videocassette,Sony High Definition Mini DV Cassette - DSL-190-B,NaN
2,2,0,53,Sony Turntable - PSLX350H/ Belt Drive System/ 33-1/3 and 45 RPM Speeds/ Servo Speed Control/ Sup...,Sony Turntable - PSLX350H,NaN,NaN,Sony PS-LX350H Belt-Drive Turntable,NaN
3,3,0,55,Sony Turntable - PSLX350H/ Belt Drive System/ 33-1/3 and 45 RPM Speeds/ Servo Speed Control/ Sup...,Sony Turntable - PSLX350H,NaN,150 lb,Sanus Television Turntable - TV/LCDS,NaN
4,4,0,58,Sony Turntable - PSLX350H/ Belt Drive System/ 33-1/3 and 45 RPM Speeds/ Servo Speed Control/ Sup...,Sony Turntable - PSLX350H,NaN,NaN,Sony CDP-CX355 300 Disc MegaStorage CD Changer,169.13
...,...,...,...,...,...,...,...,...,...
214690,214690,1075,975,Linksys Wireless-G Range Expander - WRE54G/ Supports 64/128-Bit WEP Encryption In 802.11b/802.11...,Linksys Wireless-G Range Expander - WRE54G,99.0,Sony VAIO NS Series NS190JS Notebook 2GHz Intel Core 2 Duo T5800 4GB RAM 250GB Hard Drive DVD+/-...,Sony VAIO NS190J/S Notebook - VGNNS190J/S,949.99
214691,214691,1075,977,Linksys Wireless-G Range Expander - WRE54G/ Supports 64/128-Bit WEP Encryption In 802.11b/802.11...,Linksys Wireless-G Range Expander - WRE54G,99.0,Canon PowerShot SD880 IS 10 Megapixel Digital Camera w/ UA Lens 4x Optical Zoom 28mm Wide Lens O...,Canon PowerShot SD880 IS Digital Camera - Silver - 3197B001,246.88
214692,214692,1075,988,Linksys Wireless-G Range Expander - WRE54G/ Supports 64/128-Bit WEP Encryption In 802.11b/802.11...,Linksys Wireless-G Range Expander - WRE54G,99.0,Audio Player Video Player Photo Viewer - 2.5' Color LCD - 120GB Hard Drive - Silver,Apple iPod Classic 120GB Hard Drive Portable Media Player - MB562LL/A,219.97
214693,214693,1075,997,Linksys Wireless-G Range Expander - WRE54G/ Supports 64/128-Bit WEP Encryption In 802.11b/802.11...,Linksys Wireless-G Range Expander - WRE54G,99.0,Panasonic DMC-FZ28K Lumix 10 Megapixel Digital Camera with 27mm LEICA DC VARIO-ELMARIT Lens 18x ...,Panasonic Lumix DMC-FZ28 Digital Camera - Black,NaN
214694,214694,1075,1017,Linksys Wireless-G Range Expander - WRE54G/ Supports 64/128-Bit WEP Encryption In 802.11b/802.11...,Linksys Wireless-G Range Expander - WRE54G,99.0,NaN,Sony VAIO CS Series VGN-CS180J/R 14.1-Inch Notebook 2.26 GHz Intel Core 2 Duo P8400 Processor 4 ...,NaN

# 3. Matching tuple pairs in the candidate set
In this step, we would want to match the tuple pairs in the candidate set. Specifically, we use learning-based method for matching purposes.

This typically involves the following five steps:

1. Sampling and labeling the candidate set
2. Splitting the labeled data into development and evaluation set
3. Selecting the best learning based matcher using the development set
4. Evaluating the selected matcher using the evaluation set
## 3.1 Creating a set of learning-based matchers

First, we randomly sample 450 tuple pairs for labeling purposes.

In [133]:
# Read Perfect Matching
matching_dataset_path = datasets_dir + os.sep + 'abtBuyIdDuplicates.csv'
M = em.read_csv_metadata(matching_dataset_path, key='id')

Metadata file is not present in the given path; proceeding to read the csv file.

In [134]:
len(M)

1076

In [135]:
# Label for data from Matching
G['label'] = 0
for index, row in M.iterrows():
    ltable_id = row['entityId1']
    rtable_id = row['entityId2']
    
    if ((G['ltable_id'] == ltable_id) & (G['rtable_id'] == rtable_id)).any():
        G.loc[(G['ltable_id'] == ltable_id) & (G['rtable_id'] == rtable_id), 'label'] = 1
#     else:
#         print(ltable_id, rtable_id, sep = " --- ")

## 3.2 Splitting the labeled data into development and evaluation set
In this step, we split the labeled data into two sets: development and evaluation. Specifically, the development set is used to come up with the best learning-based matcher and the evaluation set used to evaluate the selected matcher on unseen data.

In [136]:
# Split Matched data
matched = G.loc[G['label'] == 1]

em.set_key(matched,'_id')
em.set_fk_ltable(matched,'ltable_id')
em.set_fk_rtable(matched,'rtable_id')
em.set_ltable(matched, A)
em.set_rtable(matched, B)

matched_train_test = em.split_train_test(matched, train_proportion=0.7)
matched_development =  matched_train_test['train']
matched_evaluation = matched_train_test['test']

In [137]:
# Split Un-Matched data
unmatched = G.loc[G['label'] == 0] # head(1000)

em.set_key(unmatched,'_id')
em.set_fk_ltable(unmatched,'ltable_id')
em.set_fk_rtable(unmatched,'rtable_id')
em.set_ltable(unmatched, A)
em.set_rtable(unmatched, B)

unmatched = em.sample_table(unmatched, 1000)

unmatched_train_test = em.split_train_test(unmatched, train_proportion=0.7)
unmatched_development =  unmatched_train_test['train']
unmatched_evaluation = unmatched_train_test['test']

In [138]:
# Combine 
development = pd.concat([matched_development, unmatched_development])
evaluation = pd.concat([matched_evaluation, unmatched_evaluation])

In [139]:
em.set_key(development,'_id')
em.set_fk_ltable(development,'ltable_id')
em.set_fk_rtable(development,'rtable_id')
em.set_ltable(development, A)
em.set_rtable(development, B)

em.set_key(evaluation,'_id')
em.set_fk_ltable(evaluation,'ltable_id')
em.set_fk_rtable(evaluation,'rtable_id')
em.set_ltable(evaluation, A)
em.set_rtable(evaluation, B)

True

## 3.3 Select the best learning-based matcher
Selecting the best learning-based matcher typically involves the following steps:

1. Creating a set of learning-based matchers
2. Creating features
3. Extracting feature vectors
4. Selecting the best learning-based matcher using k-fold cross validation
5. Debugging the matcher (and possibly repeat the above steps)

### 3.3.1 Creating a set of learning-based matchers
First, we need to create a set of learning-based matchers. The following matchers are supported in Magellan: (1) decision tree, (2) random forest, (3) naive bayes, (4) svm, (5) logistic regression, and (6) linear regression.

In [103]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree')
svm = em.SVMMatcher(name='SVM')
rf = em.RFMatcher(name='RF')
nb = em.NBMatcher(name='NB')
lg = em.LogRegMatcher(name='LogReg')
ln = em.LinRegMatcher(name='LinReg')

### 3.3.2 Creating features
Next, we need to create a set of features for the development set. Magellan provides a way to automatically generate features based on the attributes in the input tables. For the purposes of this guide, we use the automatically generated features.

In [104]:
# Generate features
feature_table = em.get_features_for_matching(A, B, validate_inferred_attr_types=False)

In [105]:
# List the names of the features generated
feature_table['feature_name']

0                                       id_id_exm
1                                       id_id_anm
2                                  id_id_lev_dist
3                                   id_id_lev_sim
4         description_description_jac_qgm_3_qgm_3
5     description_description_cos_dlm_dc0_dlm_dc0
6                       name_name_jac_qgm_3_qgm_3
7                   name_name_cos_dlm_dc0_dlm_dc0
8                                   name_name_mel
9                              name_name_lev_dist
10                              name_name_lev_sim
11                        entityUrl_entityUrl_exm
12                        entityUrl_entityUrl_anm
13                   entityUrl_entityUrl_lev_dist
14                    entityUrl_entityUrl_lev_sim
15                                price_price_exm
16                                price_price_anm
17                           price_price_lev_dist
18                            price_price_lev_sim
Name: feature_name, dtype: object

In [40]:
feature_subset_iter1 = feature_table.drop([0,1,2,3,11,12,13,14], axis=0)

In [41]:
feature_subset_iter1['feature_name']

4         description_description_jac_qgm_3_qgm_3
5     description_description_cos_dlm_dc0_dlm_dc0
6                       name_name_jac_qgm_3_qgm_3
7                   name_name_cos_dlm_dc0_dlm_dc0
8                                   name_name_mel
9                              name_name_lev_dist
10                              name_name_lev_sim
15                                price_price_exm
16                                price_price_anm
17                           price_price_lev_dist
18                            price_price_lev_sim
Name: feature_name, dtype: object

### 3.3.3 Extracting feature vectors
In this step, we extract feature vectors using the development set and the created features.

In [42]:
# Extract feature vectors
feature_vectors_dev = em.extract_feature_vecs(development, 
                            feature_table=feature_subset_iter1, 
                            attrs_after='label')

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:06

In [43]:
# Display first few rows
feature_vectors_dev.head(3)

,_id,ltable_id,rtable_id,description_description_jac_qgm_3_qgm_3,description_description_cos_dlm_dc0_dlm_dc0,name_name_jac_qgm_3_qgm_3,name_name_cos_dlm_dc0_dlm_dc0,name_name_mel,name_name_lev_dist,name_name_lev_sim,price_price_exm,price_price_anm,price_price_lev_dist,price_price_lev_sim,label
30124,30124,191,136,0.126482,0.216506,0.580645,0.666667,0.890433,26.0,0.587302,NaN,NaN,NaN,NaN,1
201709,201709,913,992,NaN,NaN,0.621212,0.555556,0.926706,22.0,0.600000,0.0,0.984899,3.0,0.5,1
236091,236091,1048,353,0.090278,0.176777,0.229167,0.353553,0.785587,37.0,0.393443,NaN,NaN,NaN,NaN,1

In [44]:
# Check if the feature vectors contain missing values
# A return value of True means that there are missing values
any(pd.isnull(feature_vectors_dev))

True

We observe that the extracted feature vectors contain missing values. We have to impute the missing values for the learning-based matchers to fit the model correctly. For the purposes of this guide, we impute the missing value in a column with the mean of the values in that column.

In [45]:
# Impute feature vectors with the mean of the column values.
feature_vectors_dev = em.impute_table(feature_vectors_dev, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
                strategy='mean')

C:\Users\DELL\anaconda3\lib\site-packages\py_entitymatching\matcher\matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

### 3.3.4 Selecting the best matcher using cross-validation
Now, we select the best matcher using k-fold cross-validation. For the purposes of this guide, we use five fold cross validation and use 'precision' metric to select the best matcher.

In [46]:
# Select the best ML matcher using CV
result = em.select_matcher([dt, rf, svm, nb, lg, ln], table=feature_vectors_dev, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
        k=10,
        target_attr='label', 
        metric_to_select_matcher='precision',
        random_state=0)

In [47]:
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.928242        0.912874    0.923805
1            RF           0.954424        0.950367    0.952870
2           SVM           0.921489        0.197328    0.322361
3            NB           0.850279        0.902893    0.874428
4        LogReg           0.962876        0.884518    0.921424
5        LinReg           0.974710        0.823718    0.891684

In [48]:
result['drill_down_cv_stats']['precision']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Fold 6,Fold 7,Fold 8,Fold 9,Fold 10,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x0000020CE7B05040>,10,0.930556,0.965116,0.895349,0.919355,0.917808,0.920635,0.913043,0.967213,0.918919,0.934426,0.928242
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x0000020CE6528610>,10,0.957746,0.976471,0.950000,0.968254,0.936709,0.951613,0.958333,0.983607,0.925000,0.936508,0.954424
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x0000020CE7B05070>,10,1.000000,0.944444,1.000000,0.666667,0.933333,0.923077,0.947368,1.000000,0.800000,1.000000,0.921489
3,NB,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x0000020CE6528DC0>,10,0.826667,0.895349,0.924051,0.838235,0.851852,0.760000,0.890411,0.906250,0.771739,0.838235,0.850279
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x0000020CE6528250>,10,0.984375,0.987500,0.960000,0.947368,0.931507,0.966102,0.984127,0.981818,0.921053,0.964912,0.962876
5,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x0000020CE6528C10>,10,0.983051,1.000000,0.970588,0.980769,0.942029,0.959184,0.983333,1.000000,0.946667,0.981481,0.974710

### 3.3.5 Debugging matcher
We observe that the best matcher is not getting us to the precision that we expect (i.e > 95%). We debug the matcher to see what might be wrong.

To do this, first we split the feature vectors into train and test.

In [49]:
# # Split feature vectors into train and test
train_test = em.split_train_test(feature_vectors_dev, train_proportion=0.5)
train = train_test['train']
test = train_test['test']

In [50]:
# Debug decision tree using GUI
em.vis_debug_rf(rf, train, test, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
        target_attr='label')

From the GUI, we observe that using 'price' related features result in a lot of false positives. Because it's data type is numeric not string and in feature_subset_iter1, it generate some similarity function such as price_price_lev_dist, price_price_lev_sim is used for string comparison! And it happend because data don't have it's meta data.

In [140]:
em.add_feature(feature_table, 'name_name_mel_alphanumeric_alphanumeric', r)

True

In [141]:
feature_table['feature_name']

0                                       id_id_exm
1                                       id_id_anm
2                                  id_id_lev_dist
3                                   id_id_lev_sim
4         description_description_jac_qgm_3_qgm_3
5     description_description_cos_dlm_dc0_dlm_dc0
6                       name_name_jac_qgm_3_qgm_3
7                   name_name_cos_dlm_dc0_dlm_dc0
8                                   name_name_mel
9                              name_name_lev_dist
10                              name_name_lev_sim
11                        entityUrl_entityUrl_exm
12                        entityUrl_entityUrl_anm
13                   entityUrl_entityUrl_lev_dist
14                    entityUrl_entityUrl_lev_sim
15                                price_price_exm
16                                price_price_anm
17                           price_price_lev_dist
18                            price_price_lev_sim
19                 blackbox_codefeature_name_name
20        name_name_mel_alphanumeric_alphanumeric
Name: feature_name, dtype: object

In [148]:
feature_subset_iter2 = feature_table.drop([0,1,2,3,8,11,12,13,14,16,17,18,20], axis=0)

In [149]:
# Extract feature vectors
feature_vectors_dev = em.extract_feature_vecs(development, 
                            feature_table=feature_subset_iter2, 
                            attrs_after='label')

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:01

In [150]:
any(pd.isnull(feature_vectors_dev))

True

In [151]:
# Impute feature vectors with the mean of the column values.
feature_vectors_dev = em.impute_table(feature_vectors_dev, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
                strategy='mean')

C:\Users\DELL\anaconda3\lib\site-packages\py_entitymatching\matcher\matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

In [152]:
# Select the best ML matcher using CV
result = em.select_matcher([dt, rf, svm, nb, lg, ln], table=feature_vectors_dev, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
        k=10,
        target_attr='label', 
        metric_to_select_matcher='precision',
        random_state=0)

In [111]:
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.977761        0.977425    0.977965
1            RF           0.984818        0.990518    0.986848
2           SVM           0.784268        0.566701    0.655258
3            NB           0.989479        0.912132    0.948487
4        LogReg           0.986767        0.941845    0.963389
5        LinReg           0.984674        0.928354    0.955420

In [112]:
result['drill_down_cv_stats']['precision']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Fold 6,Fold 7,Fold 8,Fold 9,Fold 10,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x000001F8EB2B9580>,10,0.986842,0.959459,1.000000,0.954545,1.000000,0.988095,0.975000,0.956522,0.957143,1.000000,0.977761
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x000001F8EB2B95E0>,10,0.986842,0.960000,0.984848,0.984375,1.000000,0.988095,0.987500,0.971014,0.985507,1.000000,0.984818
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x000001F8EB2B94F0>,10,0.804348,0.853659,0.696429,0.807692,0.758621,0.896552,0.803571,0.647059,0.770833,0.803922,0.784268
3,NB,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x000001F8EB2B9EE0>,10,1.000000,1.000000,0.983871,1.000000,1.000000,0.987805,0.986667,0.969231,0.967213,1.000000,0.989479
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x000001F8EB2B93D0>,10,0.985915,1.000000,0.984615,0.983871,0.985075,0.987654,0.987179,0.969231,0.984127,1.000000,0.986767
5,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x000001F8EB2B9430>,10,0.985714,1.000000,0.983607,0.966102,0.971014,1.000000,1.000000,1.000000,0.940299,1.000000,0.984674

In [153]:
# # Split feature vectors into train and test
train_test = em.split_train_test(feature_vectors_dev, train_proportion=0.5)
train = train_test['train']
test = train_test['test']

In [154]:
# Debug decision tree using GUI
em.vis_debug_rf(rf, train, test, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
        target_attr='label')

## 3.3.6 Black Box Feature

In [106]:
import re

def extract_words(sentence):
    sentence = re.sub(r'[^\w\s]', '', sentence)

    words = sentence.split()

    return words

# BLack Box Function
def code_feature(x, y):
    # x, y will be of type pandas series
    
    # get name attribute
    x_name = x['name']
    y_name = y['name']
    # get code in x_name
    x_code = extract_words(x_name)[-1]
    y_extract = extract_words(y_name)
    # check if last names match
    if x_code in y_extract:
        return 1
    else:
        return 0

In [107]:
em.add_blackbox_feature(feature_table, 'blackbox_codefeature_name_name', code_feature)

True

Now, observe the best matcher is achieving the expected precision and we can proceed on to evaluating the best matcher on the unseen data (the evaluation set).

## 3.4 Evaluating the matching output
Evaluating the matching outputs for the evaluation set typically involves the following four steps:

1. Extracting the feature vectors
2. Training matcher using the feature vectors extracted from the development set
3. Predicting the evaluation set using the trained matcher
4. Evaluating the predicted matches
### 3.4.1 Extracting the feature vectors
As before, we extract the feature vectors (using the updated feature table and the evaluation set) and impute it (if necessary).

In [155]:
# Get new set of features
feature_vectors_eval = em.extract_feature_vecs(evaluation, 
                                               feature_table=feature_subset_iter2, 
                                               attrs_after='label')

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

In [156]:
# Check if the feature vectors contain missing values
# A return value of True means that there are missing values
any(pd.isnull(feature_vectors_eval))

True

In [157]:
# Impute feature vectors
feature_vectors_eval = em.impute_table(feature_vectors_eval, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
                strategy='mean')

C:\Users\DELL\anaconda3\lib\site-packages\py_entitymatching\matcher\matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

### 3.4.2 Training the matcher
Now, we train the matcher using all of the feature vectors from the development set. For the purposes of this guide we use random forest as the selected matcher.

In [158]:
# Train using feature vectors from the development set
rf.fit(table=feature_vectors_dev, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'], 
       target_attr='label')

### 3.4.3 Predicting the matches
Next, we predict the matches for the evaluation set (using the feature vectors extracted from it).

In [159]:
feature_vectors_eval.shape

(599, 12)

In [160]:
# Predict M 
predictions = rf.predict(table=feature_vectors_eval, 
                         exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'], 
                         append=True, 
                         target_attr='predicted', 
                         inplace=False)

### 3.4.4 Evaluating the matching output
Finally, we evaluate the predicted outputs

In [161]:
# Evaluate the result
eval_result = em.eval_matches(predictions, 'label', 'predicted')
em.print_eval_summary(eval_result)

Precision : 94.52% (293/310)
Recall : 97.99% (293/299)
F1 : 96.22%
False positives : 17 (out of 310 positive predictions)
False negatives : 6 (out of 289 negative predictions)

In [162]:
# Save the model to disk
em.save_object(rf, 'matcher/matcher_abt_buy.pkl')

File already exists at matcher/matcher_abt_buy.pkl; Overwriting it

True