In [6]:
# Import libraries
import py_entitymatching as em
import pandas as pd
import os, sys

# Matching two tables typically consists of the following three steps:
** 1. Reading the input tables **

** 2. Blocking the input tables to get a candidate set **

** 3. Matching the tuple pairs in the candidate set **

# 1. Loading the input tables

We begin by loading the input tables. For the purpose of this guide, we use the datasets that are included with the package.

In [77]:
#dblp_dataset_path = os.sep.join(['DBLP_ACM', 'DBLP_cleaned.csv'])
#acm_dataset_path = os.sep.join(['DBLP_ACM', 'ACM_cleaned.csv'])

datasets_dir = os.getcwd() + os.sep + 'data\\csv\\DBLP-ACM'

dblp_dataset_path = datasets_dir + os.sep + 'DBLP2.csv'
acm_dataset_path = datasets_dir + os.sep + 'ACM.csv'

In [82]:
dblp = pd.read_csv(dblp_dataset_path, )

In [83]:
# Load csv files as dataframes and set the key attribute in the dataframe
A = em.read_csv_metadata(dblp_dataset_path, encoding = "ISO-8859-1", key='id')
B = em.read_csv_metadata(acm_dataset_path, key='id')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [84]:
print('Number of tuples in A: ' + str(len(A)))
print('Number of tuples in B: ' + str(len(B)))
print('Number of tuples in A X B (i.e the cartesian product): ' + str(len(A)*len(B)))

Number of tuples in A: 2616
Number of tuples in B: 2294
Number of tuples in A X B (i.e the cartesian product): 6001104

In [85]:
# Display the keys of the input tables
em.get_key(A), em.get_key(B)

('id', 'id')

In [86]:
# If the tables are large we can downsample the tables like this
A1, B1 = em.down_sample(A, B, 200, 1, show_progress=False)
len(A1), len(B1)

(198, 200)

# 2. Blocking to create candidate tuple pairs
Before we do the matching, we would like to remove the obviously non-matching tuple pairs from the input tables. This would reduce the number of tuple pairs considered for matching.

Magellan provides four different blockers: (1) attribute equivalence, (2) overlap, (3) rule-based, and (4) black-box. Refer to [api reference] for more details. The user can mix and match these blockers to form a blocking sequence applied to input tables.

For the matching problem at hand, we know that two conference papers published in different years cannot match. So, we decide to apply an attribute equivelance blocker on the 'year' attribute.

In [87]:
# Create attribute equivalence blocker
ab = em.AttrEquivalenceBlocker()
# Block tables using 'year' attribute: same year then include in the canidate set
C1 = ab.block_tables(A, B, 'year', 'year', 
                   l_output_attrs=['title', 'authors', 'year'],
                   r_output_attrs=['title', 'authors', 'year']
                   )

In [88]:
# Check the number of rows in C1
len(C1)

601284

The number of tuple pairs considered for matching is reduced, but we would want to make sure that the blocker did not drop any potential matches. We could debug the blocker output in Magellan as follows:

In [89]:
# Debug blocker output
dbg = em.debug_blocker(C1, A, B, output_size=200)

In [90]:
# Display first few tuple pairs from the debug_blocker's output
dbg.head()

,_id,ltable_id,rtable_id,ltable_title,ltable_authors,ltable_venue,rtable_title,rtable_authors,rtable_venue
0,0,journals/sigmod/RossKMV02,602302,Reminiscences on Influential Papers,"Kaladhar Voruganti, Renée J. Miller, Kenneth A. Ross, Flip Korn",SIGMOD Record,Reminiscences on Influential Papers,Kenneth A. Ross,ACM SIGMOD Record
1,1,journals/sigmod/RossKMV02,641001,Reminiscences on Influential Papers,"Kaladhar Voruganti, Renée J. Miller, Kenneth A. Ross, Flip Korn",SIGMOD Record,Reminiscences on influential papers,Kenneth A. Ross,ACM SIGMOD Record
2,2,conf/vldb/PottingerL00,767146,A Scalable Algorithm for Answering Queries Using Views,"Rachel Pottinger, Alon Y. Levy",VLDB,MiniCon: A scalable algorithm for answering queries using views,"Rachel Pottinger, Alon Halevy",The VLDB Journal &mdash; The International Journal on Very Large Data Bases
3,3,conf/vldb/AgrawalS94,673304,Fast Algorithms for Mining Association Rules in Large Databases,"Ramakrishnan Srikant, Rakesh Agrawal",VLDB,Mining Generalized Association Rules,"Ramakrishnan Srikant, Rakesh Agrawal",Very Large Data Bases
4,4,conf/vldb/LakshmananSS99,503102,On Efficiently Implementing SchemaSQL on an SQL Database System,"Fereidoon Sadri, Laks V. S. Lakshmanan, Subbu N. Subramanian",VLDB,SchemaSQL: An extension to SQL for multidatabase interoperability,"Laks V. S. Lakshmanan, Fereidoon Sadri, Subbu N. Subramanian",ACM Transactions on Database Systems (TODS)

From the debug blocker's output we observe that the current blocker drops quite a few potential matches. We would want to update the blocking sequence to avoid dropping these potential matches.

For the considered dataset, we know that for the conference papers to match the author names must overlap between them. We could use overlap blocker for this purpose. Finally, we would want to union the outputs from the attribute equivalence blocker and the overlap blocker to get a consolidated candidate set.

In [91]:
# Create an overlap blocker
ob = em.OverlapBlocker()
# Apply overlap blocker on 'authors' attribute
C2 = ob.block_tables(A, B, 'authors', 'authors', 
                   l_output_attrs=['title', 'authors', 'year'],
                   r_output_attrs=['title', 'authors', 'year']
                   )

C:\Users\DELL\anaconda3\lib\site-packages\py_stringsimjoin\utils\generic_helper.py:76: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  projected_dataframe = dataframe[proj_attrs].dropna(0,
C:\Users\DELL\anaconda3\lib\site-packages\py_stringsimjoin\utils\generic_helper.py:76: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  projected_dataframe = dataframe[proj_attrs].dropna(0,
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:01

In [92]:
# Check the number of rows in C2
len(C2)

318723

In [93]:
# Display first two rows from C2
C2.head(2)

,_id,ltable_id,rtable_id,ltable_title,ltable_authors,ltable_year,rtable_title,rtable_authors,rtable_year
0,0,journals/tods/LechtenborgerV03,304586,On the computation of relational view complements,"Gottfried Vossen, Jens Lechtenbörger",2003,The WASA2 object-oriented workflow management system,"Gottfried Vossen, Mathias Weske",1999
1,1,journals/sigmod/CherniakV03,304586,Reminiscences on Influential Papers,"Mitch Cherniack, Kenneth A. Ross, Gottfried Vossen",2003,The WASA2 object-oriented workflow management system,"Gottfried Vossen, Mathias Weske",1999

In [176]:
# Combine blocker outputs
C = em.combine_blocker_outputs_via_union([C1, C2])

In [177]:
# Check the number of rows in the consolidated candidate set.
len(C)

886050

In [178]:
# Debug again
dbg = em.debug_blocker(C, A, B)

In [179]:
# Display first few rows from the debugger output
dbg.head(3)

,_id,ltable_id,rtable_id,ltable_title,ltable_authors,ltable_venue,rtable_title,rtable_authors,rtable_venue
0,0,journals/sigmod/Segev94a,945727,Editor's Notes,Arie Segev,SIGMOD Record,Guest editor's introduction,Karl Aberer,ACM SIGMOD Record
1,1,journals/sigmod/Ozsu03a,601859,Chair's Message,M. Tamer Özsu,SIGMOD Record,Treasurer's message,Joachim Hammer,ACM SIGMOD Record
2,2,journals/sigmod/Snodgrass98c,601859,Chair's Message,Richard T. Snodgrass,SIGMOD Record,Treasurer's message,Joachim Hammer,ACM SIGMOD Record

We observe that the current blocker sequence does not drop obvious potential matches, and we can proceed with the matching step now. A subtle point to note here is, debugging blocker output practically provides a stopping criteria for modifying the blocker sequence.

# 3. Matching tuple pairs in the candidate set
In this step, we would want to match the tuple pairs in the candidate set. Specifically, we use learning-based method for matching purposes.

This typically involves the following five steps:

1. Sampling and labeling the candidate set
2. Splitting the labeled data into development and evaluation set
3. Selecting the best learning based matcher using the development set
4. Evaluating the selected matcher using the evaluation set
## 3.1 Creating a set of learning-based matchers

First, we randomly sample 450 tuple pairs for labeling purposes.

In [144]:
# Sample candidate set
# S = em.sample_table(C, 2000)

In [180]:
# Read Perfect Matching
matching_dataset_path = datasets_dir + os.sep + 'DBLP-ACM_perfectMapping.csv'
M = em.read_csv_metadata(matching_dataset_path)

Metadata file is not present in the given path; proceeding to read the csv file.

In [181]:
# Label for data from Matching
C['label'] = 0
for index, row in M.iterrows():
    ltable_id = row['idDBLP']
    rtable_id = row['idACM']
    
    C.loc[(C['ltable_id'] == ltable_id) & (C['rtable_id'] == rtable_id), 'label'] = 1

## 3.2 Splitting the labeled data into development and evaluation set
In this step, we split the labeled data into two sets: development and evaluation. Specifically, the development set is used to come up with the best learning-based matcher and the evaluation set used to evaluate the selected matcher on unseen data.

In [195]:
# Split Matched data
matched = C.loc[C['label'] == 1].head(2000)

em.set_key(matched,'_id')
em.set_fk_ltable(matched,'ltable_id')
em.set_fk_rtable(matched,'rtable_id')
em.set_ltable(matched, A)
em.set_rtable(matched, B)

matched_train_test = em.split_train_test(matched, train_proportion=0.5)
matched_development =  matched_train_test['train']
matched_evaluation = matched_train_test['test']

In [197]:
# Split Un-Matched data
unmatched = C.loc[C['label'] == 0].head(2000)

em.set_key(unmatched,'_id')
em.set_fk_ltable(unmatched,'ltable_id')
em.set_fk_rtable(unmatched,'rtable_id')
em.set_ltable(unmatched, A)
em.set_rtable(unmatched, B)

unmatched_train_test = em.split_train_test(unmatched, train_proportion=0.5)
unmatched_development =  unmatched_train_test['train']
unmatched_evaluation = unmatched_train_test['test']

In [199]:
# Combine 
development = pd.concat([matched_development, unmatched_development])
evaluation = pd.concat([matched_evaluation, unmatched_evaluation])

In [206]:
em.set_key(development,'_id')
em.set_fk_ltable(development,'ltable_id')
em.set_fk_rtable(development,'rtable_id')
em.set_ltable(development, A)
em.set_rtable(development, B)

em.set_key(evaluation,'_id')
em.set_fk_ltable(evaluation,'ltable_id')
em.set_fk_rtable(evaluation,'rtable_id')
em.set_ltable(evaluation, A)
em.set_rtable(evaluation, B)

True

## 3.3 Select the best learning-based matcher
Selecting the best learning-based matcher typically involves the following steps:

1. Creating a set of learning-based matchers
2. Creating features
3. Extracting feature vectors
4. Selecting the best learning-based matcher using k-fold cross validation
5. Debugging the matcher (and possibly repeat the above steps)

### 3.3.1 Creating a set of learning-based matchers
First, we need to create a set of learning-based matchers. The following matchers are supported in Magellan: (1) decision tree, (2) random forest, (3) naive bayes, (4) svm, (5) logistic regression, and (6) linear regression.

In [207]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree')
svm = em.SVMMatcher(name='SVM')
rf = em.RFMatcher(name='RF')
nb = em.NBMatcher(name='NB')
lg = em.LogRegMatcher(name='LogReg')
ln = em.LinRegMatcher(name='LinReg')

### 3.3.2 Creating features
Next, we need to create a set of features for the development set. Magellan provides a way to automatically generate features based on the attributes in the input tables. For the purposes of this guide, we use the automatically generated features.

In [201]:
# Generate features
feature_table = em.get_features_for_matching(A, B, validate_inferred_attr_types=False)

In [202]:
# List the names of the features generated
feature_table['feature_name']

0             title_title_jac_qgm_3_qgm_3
1         title_title_cos_dlm_dc0_dlm_dc0
2                         title_title_mel
3                    title_title_lev_dist
4                     title_title_lev_sim
5         authors_authors_jac_qgm_3_qgm_3
6     authors_authors_cos_dlm_dc0_dlm_dc0
7                     authors_authors_mel
8                authors_authors_lev_dist
9                 authors_authors_lev_sim
10                          year_year_exm
11                          year_year_anm
12                     year_year_lev_dist
13                      year_year_lev_sim
Name: feature_name, dtype: object

In [203]:
# Select the year related features
feature_subset_iter1 = feature_table[10:14]

In [204]:
# List the names of the features selected
feature_subset_iter1['feature_name']

10         year_year_exm
11         year_year_anm
12    year_year_lev_dist
13     year_year_lev_sim
Name: feature_name, dtype: object

### 3.3.3 Extracting feature vectors
In this step, we extract feature vectors using the development set and the created features.

In [208]:
# Extract feature vectors
feature_vectors_dev = em.extract_feature_vecs(development, 
                            feature_table=feature_subset_iter1, 
                            attrs_after='label')

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

In [209]:
# Display first few rows
feature_vectors_dev.head(3)

,_id,ltable_id,rtable_id,year_year_exm,year_year_anm,year_year_lev_dist,year_year_lev_sim,label
199554,199554,conf/sigmod/Mohan02,564796,1,1.0,0.0,1.0,1
544973,544973,conf/vldb/SteenhagenABB94,672819,1,1.0,0.0,1.0,1
231060,231060,conf/sigmod/Rosenthal01,375796,1,1.0,0.0,1.0,1

In [210]:
# Check if the feature vectors contain missing values
# A return value of True means that there are missing values
any(pd.isnull(feature_vectors_dev))

True

We observe that the extracted feature vectors contain missing values. We have to impute the missing values for the learning-based matchers to fit the model correctly. For the purposes of this guide, we impute the missing value in a column with the mean of the values in that column.

In [214]:
# Impute feature vectors with the mean of the column values.
feature_vectors_dev = em.impute_table(feature_vectors_dev, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
                strategy='mean')

C:\Users\DELL\anaconda3\lib\site-packages\py_entitymatching\matcher\matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

### 3.3.4 Selecting the best matcher using cross-validation
Now, we select the best matcher using k-fold cross-validation. For the purposes of this guide, we use five fold cross validation and use 'precision' metric to select the best matcher.

In [217]:
# Select the best ML matcher using CV
result = em.select_matcher([dt, rf, svm, nb, lg, ln], table=feature_vectors_dev, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
        k=10,
        target_attr='label', 
        metric_to_select_matcher='precision',
        random_state=0)

In [218]:
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.645693             1.0    0.783951
1            RF           0.645693             1.0    0.783951
2           SVM           0.645693             1.0    0.783951
3            NB           0.645693             1.0    0.783951
4        LogReg           0.645693             1.0    0.783951
5        LinReg           0.645693             1.0    0.783951

In [219]:
result['drill_down_cv_stats']['precision']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Fold 6,Fold 7,Fold 8,Fold 9,Fold 10,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x000001F0D547DC10>,10,0.647059,0.643312,0.692308,0.673203,0.575,0.671053,0.603896,0.588235,0.666667,0.696203,0.645693
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x000001F0D4BA22B0>,10,0.647059,0.643312,0.692308,0.673203,0.575,0.671053,0.603896,0.588235,0.666667,0.696203,0.645693
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x000001F0D4BA2100>,10,0.647059,0.643312,0.692308,0.673203,0.575,0.671053,0.603896,0.588235,0.666667,0.696203,0.645693
3,NB,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x000001F0D4BA2250>,10,0.647059,0.643312,0.692308,0.673203,0.575,0.671053,0.603896,0.588235,0.666667,0.696203,0.645693
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x000001F0D4BA20D0>,10,0.647059,0.643312,0.692308,0.673203,0.575,0.671053,0.603896,0.588235,0.666667,0.696203,0.645693
5,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x000001F0D4BA2130>,10,0.647059,0.643312,0.692308,0.673203,0.575,0.671053,0.603896,0.588235,0.666667,0.696203,0.645693

### 3.3.5 Debugging matcher
We observe that the best matcher is not getting us to the precision that we expect (i.e > 95%). We debug the matcher to see what might be wrong.

To do this, first we split the feature vectors into train and test.

In [220]:
# # Split feature vectors into train and test
train_test = em.split_train_test(feature_vectors_dev, train_proportion=0.5)
train = train_test['train']
test = train_test['test']

In [223]:
# Debug decision tree using GUI
em.vis_debug_rf(rf, train, test, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
        target_attr='label')

From the GUI, we observe that using only 'year' related features result in a lot of false positives. So we decide to use all the features in the feature table (which had author, title and year related features).

In [224]:
# Select all features from the feature table
feature_subset_iter2 = feature_table

In [226]:
# Get new set of features
feature_vectors_dev = em.extract_feature_vecs(development, feature_table=feature_subset_iter2, attrs_after='label')

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:04

In [227]:
# Check if imputation is required
any(pd.isnull(feature_vectors_dev))

True

In [229]:
# Impute feature vectors
feature_vectors_dev = em.impute_table(feature_vectors_dev, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
                strategy='mean')

C:\Users\DELL\anaconda3\lib\site-packages\py_entitymatching\matcher\matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

In [230]:
# Apply cross validation to find if there is a better matcher
result = em.select_matcher([dt, rf, svm, nb, lg, ln], table=feature_vectors_dev, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
        k=10,
        target_attr='label', 
        metric_to_select_matcher='precision',
        random_state=0)

In [231]:
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.999029        0.996123    0.997076
1            RF           0.998068        0.996113    0.997071
2           SVM           0.999020        0.980806    0.989802
3            NB           0.998068        0.999010    0.998532
4        LogReg           0.999038        0.994177    0.996582
5        LinReg           1.000000        0.991132    0.995520

In [232]:
result['drill_down_cv_stats']['precision']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Fold 6,Fold 7,Fold 8,Fold 9,Fold 10,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x000001F0D547DC10>,10,1.0,1.0,1.0,1.000000,1.0,0.990291,1.0,1.0,1.0,1.0,0.999029
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x000001F0D4BA22B0>,10,1.0,1.0,1.0,0.990385,1.0,0.990291,1.0,1.0,1.0,1.0,0.998068
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x000001F0D4BA2100>,10,1.0,1.0,1.0,0.990196,1.0,1.000000,1.0,1.0,1.0,1.0,0.999020
3,NB,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x000001F0D4BA2250>,10,1.0,1.0,1.0,0.990385,1.0,0.990291,1.0,1.0,1.0,1.0,0.998068
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x000001F0D4BA20D0>,10,1.0,1.0,1.0,0.990385,1.0,1.000000,1.0,1.0,1.0,1.0,0.999038
5,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x000001F0D4BA2130>,10,1.0,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0,1.0,1.000000

Now, observe the best matcher is achieving the expected precision and we can proceed on to evaluating the best matcher on the unseen data (the evaluation set).

## 3.4 Evaluating the matching output
Evaluating the matching outputs for the evaluation set typically involves the following four steps:

1. Extracting the feature vectors
2. Training matcher using the feature vectors extracted from the development set
3. Predicting the evaluation set using the trained matcher
4. Evaluating the predicted matches
### 3.4.1 Extracting the feature vectors
As before, we extract the feature vectors (using the updated feature table and the evaluation set) and impute it (if necessary).

In [234]:
# Get new set of features
feature_vectors_eval = em.extract_feature_vecs(evaluation, 
                                               feature_table=feature_subset_iter2, 
                                               attrs_after='label')

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:09

In [235]:
# Check if the feature vectors contain missing values
# A return value of True means that there are missing values
any(pd.isnull(feature_vectors_eval))

True

In [236]:
# Impute feature vectors
feature_vectors_eval = em.impute_table(feature_vectors_eval, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
                strategy='mean')

C:\Users\DELL\anaconda3\lib\site-packages\py_entitymatching\matcher\matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

### 3.4.2 Training the matcher
Now, we train the matcher using all of the feature vectors from the development set. For the purposes of this guide we use random forest as the selected matcher.

In [237]:
# Train using feature vectors from the development set
rf.fit(table=feature_vectors_dev, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'], 
       target_attr='label')

### 3.4.3 Predicting the matches
Next, we predict the matches for the evaluation set (using the feature vectors extracted from it).

In [238]:
# Predict M 
predictions = rf.predict(table=feature_vectors_eval, 
                         exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'], 
                         append=True, 
                         target_attr='predicted', 
                         inplace=False)

### 3.4.4 Evaluating the matching output
Finally, we evaluate the predicted outputs

In [240]:
# Evaluate the result
eval_result = em.eval_matches(predictions, 'label', 'predicted')
em.print_eval_summary(eval_result)

Precision : 100.0% (1000/1000)
Recall : 100.0% (1000/1000)
F1 : 100.0%
False positives : 0 (out of 1000 positive predictions)
False negatives : 0 (out of 1000 negative predictions)

In [242]:
len(feature_vectors_dev)

2000